.boite{
    height: 100px;
    background-color: crimson; 
    outline: solid 1px black;
}

.sboite{
    height: 100px;
    background-color: purple;
    outline: solid 1px black;
}

.slide{
    width: 100%;
    min-height: 100vh;
}